@font-face {
  font-family: "AlegreyaSans-Black";
  src: local("AlegreyaSans-Black"), url("AlegreyaSans-Black.ttf") format("truetype");
}

.alegreyasans-black{
  font-family: "AlegreyaSans-Black", Arial, Helvetica, sans-serif;
}
