@font-face {
    font-family: "Open-24-Display-St";
    src: local("Open-24-Display-St"), url("Open-24-Display-St.ttf") format("truetype");
  }
  
  
  .open-24-display{
    font-family: "Open-24-Display-St", Arial, Helvetica, sans-serif;
  }
  